<div class="row text-right">
<div class="col-12 col-md-10" >
  <div class="btn-group">
    <button type="button" class="btn btn-sm btn-outline-dark mr-0">
      From 
    </button>
    <button
      id="translateLanguageFromDropdownButton"
      type="button"
      class="btn btn-sm btn-outline-dark dropdown-toggle dropdown-toggle-split"
      data-toggle="dropdown"
      aria-expanded="true"
    >
      <!-- <span class="sr-only">Toggle Dropdown</span> -->
    </button>
    <ul
      class="dropdown-menu"
      id="translateLanguageFromList"
      aria-labelledby="dropdownMenuButton"
    >
    <li><a class="dropdown-item" href="#" id='hi'>Hindi</a></li>
    <li><a class="dropdown-item" href="#" id='en'>English</a></li>
    </ul>
  </div>
</div>

<div class="col-12 col-md-2" >
  <div class="btn-group">
    <button type="button" class="btn btn-sm btn-outline-dark mr-0">
      To 
    </button>
    <button
      id="translateLanguageToDropdownButton"
      type="button"
      class="btn btn-sm btn-outline-dark dropdown-toggle dropdown-toggle-split"
      data-toggle="dropdown"
      aria-expanded="true"
    >
      <!-- <span class="sr-only">Toggle Dropdown</span> -->
    </button>
    <ul
      class="dropdown-menu"
      id="translateLanguageToList"
      aria-labelledby="dropdownMenuButton"
    >
      <li><a class="dropdown-item" href="#" id='hi'>Hindi</a></li>
      <li><a class="dropdown-item" href="#" id='en-GB'>English UK</a></li>
      <li><a class="dropdown-item" href="#" id='en-IN'>English IN</a></li>
      <li><a class="dropdown-item" href="#" id='en'>English US</a></li>
    </ul>
  </div>
</div>
</div>