<!-- Style sheets for translate -->
<link rel="stylesheet" href={{url_for('static', filename="css/translate.css")}}>
<script src={{url_for('static', filename='js/translate/translate.js')}}></script>

<!-- Card to translate text -->

<div class="card border-info">
  <!-- Card header containing option to select language -->
  <div class="card-header align-middle">
    <div class="row align-middle">
      <span class="col-12 col-md-2 align-middle">Translate Text </span>
      <div class="col-12 col-md-9 text-right">
        {%include "translate/languageDropdown.html"%}
      </div>
      
    </div>
  </div>

  <!-- Card body with contenteditable   -->
  <div class="card-body" id="translateCardBody">
    Type text to translate :
    <div class="textareaElement" contenteditable id="textToTranslate"></div>
  </div>

  <!-- Card footer for voice input  -->
  <div class="card-footer">
    <div class="row">
      <div
        class="col-md-1 col-sm-6 col-6"
        id="micIcon"
        data-toggle="modal"
        data-target="#micIconModal"
      >
        <div
          id="micIconDiv"
          aria-label="Search by voice"
          role="button"
          tabindex="0"
        >
          <svg
            id="micIconSVGIcon"
            focusable="false"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="m12 15c1.66 0 3-1.31 3-2.97v-7.02c0-1.66-1.34-3.01-3-3.01s-3 1.34-3 3.01v7.02c0 1.66 1.34 2.97 3 2.97z"
              fill="#4285f4"
            ></path>
            <path d="m11 18.08h2v3.92h-2z" fill="#ea4335"></path>
            <path
              d="m7.05 16.87c-1.27-1.33-2.05-2.83-2.05-4.87h2c0 1.45 0.56 2.42 1.47 3.38v0.32l-1.15 1.18z"
              fill="#ea4335"
            ></path>
            <path
              d="m12 16.93a4.97 5.25 0 0 1 -3.54 -1.55l-1.41 1.49c1.26 1.34 3.02 2.13 4.95 2.13 3.87 0 6.99-2.92 6.99-7h-1.99c0 2.92-2.24 4.93-5 4.93z"
              fill="#ea4335"
            ></path>
          </svg>
        </div>
      </div>
      <div class="col-md-11 col-sm-6 col-6 text-right">
        <span id="characterCount">0</span>/5000
      </div>
    </div>
  </div>
</div>

<!-- Card for the translated text -->

<div class="card border-info mb-3">
  <div class="card-header">Translated Text</div>
  <div class="card-body" id="translatedCardBody"></div>
  <!-- Card footer for  -->
  <div class="card-footer">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <!-- Select voice Gender -->
      <div class="btn-group">
        <button type="button" class="btn btn-outline-dark mr-0">
          Voice Gender
        </button>
        <button
          id="voiceSelectDropdownButton"
          type="button"
          class="btn btn-outline-dark dropdown-toggle dropdown-toggle-split"
          data-toggle="dropdown"
          aria-expanded="true"
        >
          <!-- <span class="sr-only">Toggle Dropdown</span> -->
        </button>
        <ul
          class="dropdown-menu"
          id="demolist"
          aria-labelledby="dropdownMenuButton"
        >
          <li><a class="dropdown-item" href="#">Female</a></li>
          <li><a class="dropdown-item" href="#">Male</a></li>
        </ul>
      </div>

      <!-- Add fileName to save with  -->
      <div
        class="btn-toolbar"
        role="toolbar"
        aria-label="Toolbar with button groups"
      >
        <div class="input-group">
          <input
            type="text"
            id="nameToSaveWith"
            class="form-control"
            placeholder="Audio file name"
            aria-label="Input group example"
            aria-describedby="btnGroupAddon"
          />
        </div>
      </div>

      <!-- Submit button for speech translation  -->
      <button type="button" id="translateTextToSpeech" class="btn btn-info">
        Translate to speech
      </button>
    </nav>
  </div>
</div>


<div id="translatedVoiceFiles">


</div>

<!-- --------------------------------------------------------------- -->

<div
  class="modal fade"
  id="micIconModal"
  tabindex="-1"
  aria-labelledby="micIconModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="alert alert-light" id="micIconCurrentStatus"></div>
    <div id="micIconResult"></div>
  </div>
</div>
