{%extends 'dashboard.html'%} {% block tabs%}

<div class="tab-content">
  <div
    class="tab-pane fade show active"
    role="tabpanel"
    aria-labelledby="basics-tab"
    id="createNew"
  >
    <br />
    <form method="POST" action="/converttospeech/">
      <div class="form-group">
        <label for="exampleFormControlTextarea1">
          Enter text to create a speech audio file
        </label>
        <textarea
          class="form-control"
          name="texttoconvert"
          id="exampleFormControlTextarea1"
          rows="3"
        ></textarea>
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>

  {%endblock%}
</div>
