{% extends "header.html" %}

{% block body %}

<script src={{url_for('static', filename='js/wikisearch.js')}}></script>
<div class="container">
  <h1>Welcome to Home page :)</h1>
   
  <form id='wikiSearchBox'>
    <div class="col-6 input-group mb-sm-auto mx-auto">
      <input type="search" id="searchBox" class="form-control" placeholder="Search Wikipedia..." aria-label="Search Wikipedia..." aria-describedby="button-addon2">
      <div class="input-group-append">
        <button type="submit"class="btn btn-outline-primary" type="button" id="button-addon2">Search</button>
      </div>
    </div>
 
  </form>

  <div class="col-6 suggestions mb-sm-auto mx-auto"></div>
</div>
{% endblock %}
