{%extends "layout/index.html" %} 
{%block body%}
<div class="alert alert-secondary" role="alert">
  <ul class="nav nav-pills" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <a
        class="nav-link active"
        id="search-tab"
        data-toggle="tab"
        href="#search"
        role="tab"
        aria-controls="search"
        aria-selected="true"
        >Search Wiki</a
      >
    </li>
    <li class="nav-item" role="presentation">
      <a
        class="nav-link"
        id="translate-tab"
        data-toggle="tab"
        href="#translate"
        role="tab"
        aria-controls="translate"
        aria-selected="false"
        >Translate</a
      >
    </li>
  </ul>
</div>

<!-- Tab Panes -->
<div class="tab-content">
  <div
    class="tab-pane fade show active"
    id="search"
    role="tabpanel"
    aria-labelledby="search-tab"
  >
    {%include"/helper_templates/search/main.html"%}
  </div>

  <div
    class="tab-pane fade"
    id="translate"
    role="tabpanel"
    aria-labelledby="translate-tab"
  >
    Web
  </div>
</div>

{%endblock%}
