{%extends "layout/header.html" %} {%block body%}

<head>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="{{ url_for('static', filename='js/convert.js')}}"></script>
</head>
<form>
  <div class="form-group">
    <label >Example textarea</label>
    <textarea
      class="form-control"
      id="tts"
      rows="3"
    ></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<div>
    <p id="display"></p>
</div>

{%endblock%}
