<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Charmonman:wght@400;700&family=Roboto:wght@100;200;300;400;500;600;700;800&family=Source+Code+Pro:ital,wght@0,300;0,400;0,500;0,600;0,700;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <meta charset="utf-8" />
    <title>Hey Wiki</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      href="{{url_for('static',filename='css/bootstrap_css/bootstrap.min.css')}}"
      rel="stylesheet"
    />
    <link
      rel="shortcut icon"
      href="{{url_for('static',filename='favicon.ico')}}"
    />
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='js/bootstrap_js/bootstrap.min.js') }}"
    ></script>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-light bg-dark">
        <div class="nav-wrapper container">
          <a class="navbar-brand" href="/">
            <!-- <img
              src="{{url_for('static',filename='images/icon.svg')}}"
              height="30"
              alt=""
            /> -->
            <span
              style="
                font-family: 'charmonman';
                font-size: 31px;
                color: aliceblue;
              "
              >Hey Wiki</span
            >
          </a>

          {% if session.logged_in %}
          <ul class="nav nav-pills" role="tablist">
            <a href="/logout/">
              <button
                type="button"
                class="btn btn-primary"
                aria-label="Left Align"
              >
                Logout
              </button>
            </a>
          </ul>
          {% else %}

          <ul class="nav nav-pills" role="tablist">
            <a href="/login/">
              <button
                type="button"
                class="btn btn-primary"
                aria-label="Left Align"
              >
                Login
              </button>
            </a>

            <a href="/register/" style="margin-left: 10px;">
              <button
                type="button"
                class="btn btn-primary"
                aria-label="Left Align"
              >
                Sign Up
              </button>
            </a>
          </ul>
          {% endif %}
        </div>
      </nav>
    </header>

    <div class="container border-row">
      <br />
      {% with messages = get_flashed_messages() %} {% if messages %} {% for
      message in messages %}
      <br />
      <div class="container alert alert-warning alert-dismissible" role="alert">
        <button
          type="button"
          class="close"
          data-dismiss="alert"
          aria-label="Close"
        >
          <span aria-hidden="true">×</span>
        </button>
        {{message}}
      </div>
      {% endfor %} {% endif %} {% endwith %}
    </div>
    <div class="container">
      {%block body%} {%endblock%}
    </div>
  </body>
</html>

<style>
  body,
  html {
    height: 100%;
    width: 100%;
    font-family: "source code pro";
    background-color: #eef3f5;
  }
  button {
    font-family: "source code pro";
  }
</style>
