
<div
  class="modal fade "
  id="audioModal"
  tabindex="-1"
  aria-labelledby="audioModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content" id='audioModalContent'>
      <div
        class="modal-header"
        style="align-items: center; background-color: #eef3f5;"
      >
      <div id="audioModalHeader" style="width: 100%;">

      </div>
        
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="audioModalBody">

      </div>
      <div
      id="audioModalFooter"
        class="modal-footer"
        style="
          justify-content: flex-start;
          word-break: break-all;
          background-color: #eef3f5;
        "
      >
        
      </div>
    </div>
  </div>
</div>
